<!doctype html>
<html lang="en">
<head th:replace="~{fragments/head :: head}"></head>
    <body>
        <div th:insert="~{fragments/navigation-menu :: navigation}"></div>
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Текст</th>
                            <th scope="col">Адрес</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="accident: ${accidents}">
                            <td th:text="${accident.id}" />
                            <td>
                                <a th:href="@{|/update?id=${accident.id}|}">
                                    <span th:text="${accident.name}" />
                                </a>
                            </td>
                            <td th:text="${accident.text}" />
                            <td th:text="${accident.address}" />
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>